*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

h1{
    padding: 0;
}
:root{
    font-size: 12px;
    --dark-bg: #012c1f; 
    --light-bg:#08512d;
    --hover-bg: #2A8347;
    --white-clr: #fff;
   
   
}

.box{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding:0 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-bg);
    color: #fff;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  .buttons>button{
    cursor: pointer;
}
  .burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top:2.5%;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  
.navbar-content>form>input{
    text-transform: uppercase;
}

body{
    width: 100%
}
.alert {
    padding: 0.5rem 2.5rem;
    background-color: white;
    color: var(--dark-bg);
  }
  .alert> p{
text-align: center;
text-transform: uppercase;
  }
 
  .closebtn {
    margin-left: 15px;
    color: var(--white-clr);
    background-color: var(--dark-bg);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: bold;
    float: right;
    text-align: center;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.header-1-content{
    background-color: var(--dark-bg);
    background-image: url(images/pattern-bg.png);
}
.header-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
}
.buttons>button{
outline: 0;
border: 0;
text-transform: uppercase;
padding: 0.75rem 1.75rem;
 /* background-color: var(--light-bg); */
    background-image: url(images/pattern-bg.png);
clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
color: var(--white-clr);
}
.navbar{
    background-color: var(--light-bg);
    background-image: url(images/pattern-bg.png);
}
.btn-1{
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    background-color: var(--light-bg);
   }
   .btn-2{
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    outline: 0;
    border: 0;
    background-color: var(--hover-bg);
   }
   ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.navbar-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.navbar-content input{
    background-color: var(--dark-bg);
    border: 0;
    outline: 0;
    padding: 0.5rem;
    color: white;
    width: 100%;
}


.nav-search input{
    padding: 0.6rem 0.4rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
    background: url(images/pattern-bg.png);
    background-color: var(--dark-bg);
}
.nav-search{
    display: flex;
}
.nav-search>img{
    width: 1.15rem;
    position: absolute;
    right: 1.5%;
    top: 35%;
    cursor: pointer;
}
.navbar-links{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 1.5rem 0;
}
li{
    margin: 0;
}
.navbar-links> ul > li> a{
    padding: 1.5rem 2rem;
    margin: 0;
    font-size: 1.4rem;
}
.navbar-links>ul > li>a:hover{
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: var(--hover-bg);
    cursor: pointer;

}
.navbar-content>input{
    border: 0;
    outline: 0;
    padding: 0.35rem 0.5rem;
    background-color: var(--dark-bg);
}




.submenu{
    display: none;
}
   
/* .navbar-links> ul >li:hover .submenu{
    display: block;
    position: absolute;
    background-color: var(--color-light-background);
z-index: 5000;
}

.submenu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.submenu ul li a{
    color: var(--white-clr);
    padding: 0.5rem 0;
    clip-path: none;
}

.submenu ul li{
    padding: 0.5rem 0.75rem;
}
.submenu ul li a:hover{
    background-color: var(--new-dark-bg);
    } */
.home-page{
  background-image: url(images/pattern-bg.png);
z-index: -5;
}
.hp-content{
  max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white-clr);
    width: 100%;
    margin: 0 auto;
}
.hp-content-img{
    z-index: 10;
    background-color: var(--white-clr) !important;
}

.hp-content-img >p{
    color: var(--white-clr);
    color: var(--hover-bg);
    font-weight: 600;
    padding-left: 5rem;
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 10;
}
.heading{
    width: 100%;
    background: url(images/pattern-bg.png);
    background-color: var(--hover-bg);
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    padding-left: 1.5rem;
}
.heading>h1{
    font-size: 4rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.clip-image{
    padding: 2rem;
    
}

/* HERO SECTION */
.hero-section-slider-portion{
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.hero-section{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(images/hero-bg.png);
    color: var(--white-clr);
    padding: 3rem 6rem;
    position: relative;
    z-index: -100;
}
.hero-section::after{
    content: '';
    background-image: url(images/pattern-bg.png);
    background-color: var(--dark-bg);
    background-color: #0c5145;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index:-100;
}
 


.hero-section
{
    width: 100%;
    z-index: 10000;
    margin: 0;
}
.h1-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
    color: var(--white-clr);
}

.left-colum-first-half{
    width: 50%;
}
.left-colum-first-half > h1{
font-size: 3rem;
line-height: 2.55rem;
padding-bottom: 2.5rem;
}
.left-colum-first-half> p{
    font-size: 1.3rem;
}
.slider img{
    display: none;
}
.colum-first-half h1{
    text-transform: uppercase;
}
.colum-first-half p{
    font-size: 1.2rem;
}
 .colum-first-half{
    position: relative;
 } 
 .right-colum-first-half{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
 }
.video-thumbnail-image{
    width: 25rem;
    /* padding-right: ; */
}
.box-image{
    position: absolute;
    right:25%;
    top: 40%;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--dark-bg);
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-icon-image{
    cursor: pointer;
    width: 1.5rem;
}

.box1{
    padding: 0 1rem;
}

.middle-section{
    background-color: var(--dark-bg);
    background-image: url(images/pattern-bg.png)    
}
.middle-portion{
    display: flex; 
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start; 
}
.left-middle-portion{
    width: 70%;
}
.slick-card-grid-padding{
    margin: 2rem 0;
    width: 100%;
    display: grid; 
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
}
.slick-card-grid{
    padding: 0 2rem;
}
.slick-card-grid-padding  img{
    background: url(images/pattern-bg.png);
    border: 0.5rem solid var(--dark-bg);
    border-image: url(images/pattern-bg.png);
    margin: 0 1.35rem;
    width: 100%;    
}
hr{
    width: 100%;
    color: var(--white-clr);
    background-color: var(--white-clr);
    margin: 1.25rem 0;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    width: 100%;
}
.card-1 img{
    width: 100%;
}
.card-1 h2{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.card-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.card-1>.card-context{
    padding: 1rem;
    color: white;
    width: 100%;
    background: url(images/pattern-bg.png);
    background-color: var(--hover-bg);
}
.card-context>p, .p-2,p{
    font-size: 1.25rem;
}
.card-context>p{
    margin: 1rem 0 1.5rem 0 ;
}
.p-2{
    padding: 1rem 1rem 8rem 1rem;
    background: url(images/pattern-bg.png);
    background-color: var(--hover-bg);
    width: 100%;
    color: var(--white-clr);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.read-more{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: url(images/pattern-bg.png);
    background-color: var(--light-bg);
    color: white;   
    padding: 0.5rem ;

}
.cards-detail{
    margin: 3rem 0;
    color: white;
    width: 100%;
}

.clip-card-image1{
    clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
}
.clip-card-image2{
    clip-path: polygon(0 0, 100% 0%, 100% 100%,15% 100%);
}
.card1-detail{
    background: url(images/pattern-bg.png);
    background-color: var(--hover-bg);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.card1-detail-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 2rem;
  
}
.card2-detail{
    padding-left: 1.5rem;
    background: url(images/pattern-bg.png);
    background-color: var(--light-bg);
}

.card1-detail-context> h2{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.card1-detail-context> p{
   font-size: 1.2rem;
    font-weight: 100;

}
.card1-detail-image-div{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card2-detail-image-div{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%,15% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card2-detail-image-div>p{
    opacity: 0;
}
.card1-detail-image-div>p{
    opacity: 0;
}

.right-middle-portion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: url(images/pattern-bg.png);
    background-color: var(--hover-bg);
    margin: 1rem 0;

}
.right-middle-portion>h2{
    width: 100%;
    background: url(images/pattern-bg.png);
    background-color: var(--light-bg);
    padding: 1rem ;
    color: var(--white-clr);
}
.shows{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;
}
.events{
    /* background-color: var(--light-bg); */
    padding: 1.5rem;
}
.events>h2{
}

.number{
    background-color: var(--white-clr);
    padding: 1rem 1.25rem;
    color: var(--dark-bg);
}

.events h2{
    text-transform: uppercase;
    display: block;
}
.number p{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--hover-bg)
}
.shows-text{
    margin-left: 1rem;
    text-transform: uppercase;

}
.shows-text a{
    font-size: 1.25rem;
    color: var(--white-clr);
    font-weight: bold;
}
.shows-text p{
    font-size: 1rem;
    color: var(--white-clr);
    padding-top: 0.5rem;
    font-weight: 100;

}

.contact-portion{
    background-color: var(--light-bg);
    background-image: url(images/pattern-bg.png);
    /* background-position: center; */
    /* background-size: cover; */
    width: 100%;
    color: white;
    display: flex;
    
    
}
.contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.contact-form input{
    border: 0;
    outline: 0;
}

.contact-portion h2{
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}
.option-city{
    width: 100%;
    padding: 0.25rem 0;
border: 0;
outline: 0;
}

.text-area{
    display: flex;
    flex-direction: column;
}
.form-side{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}
.form-side input{
    padding: 0.25rem 0.35rem;
    margin: 0.5rem 0;
}

.gender-radio> input{
    cursor: pointer;
    margin: 0 0.5rem;
}
.gender-portion{
    margin: 1rem 0;
}
.gender-radio{
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
textarea{
    border: 0;
    outline: 0;
    padding: 0.5rem ;
    margin: 0.5rem 0;
}
.button-portion{
   
    margin: 0 auto;
}
.contact-form button{
    outline: 0;
    border: 0;
    padding: 1rem 2.5rem;
    color: var(--white-clr);
    text-align: center;
    background:url(images/pattern-bg.png);
    background-color: var(--dark-bg);
    margin: 0 auto;
    cursor: pointer;
}

.footer-portion{
    background-color: var(--dark-bg);
    background-image: url(images/pattern.png);

}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
padding: 2rem 0;
}

.footer-text> a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.footer-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 1rem 0;
}
.footer-images img{
    margin: 0 0.5rem;
    cursor: pointer;
}
.footer-content .footer-copyright p{
    color: white;
}
.slick-card-grid>image{
    width: 100%;
}
.footer-text span{
    padding:0 0.75rem;
}

@media only screen and (max-width: 1100px){
    .hero-section {
        padding: 3rem;
    }
    .h1-content{
        padding:0 2rem;
    }
    .card1-detail-image-div>img{
        width: 30rem;
    }
    .card2-detail-image-div>img{
        width: 25rem;
        background-repeat: no-repeat;
    }
    .card1-detail-context{
        padding: 3.5rem 1rem;
    }
    .card2-detail-image-div{
        width: 30rem;
    }
}
  
@media only screen and (max-width: 950px ){
    
.navbar-links>ul{
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.navbar-links>ul>li>a{
    font-size: 1.2rem;
padding: 1rem 0.75rem;
}
.navbar-links>ul > li>a:hover{
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: var(--hover-bg);
    cursor: pointer;
}
.right-colum-first-half>img{
    width: 20rem;
}
.navbar-links{
    padding: 0;
}
.heading{
  padding: 1rem;
 }
.heading>h1{
 font-size: 2.2rem;
 }
.header-1-content{
padding: 0;
}
.header-1{
    padding: 0.5rem 0.75rem;
}
.h1-content>h1{
    width: 100%;
}
.h1-content>p{
    width: 100%;
}
.navbar>.box{
    padding: 0 1.5rem;
}
.navbar-links{
    width: 100%;
}
.middle-portion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.left-middle-portion{
width: 70%;
}
.h1-content{
    padding: 1.5rem 0;
}
.right-middle-portion{
    display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;   
       margin-left: 0.5rem;
   }
   .right-middle-portion {
    padding: 0;
}
.events{
padding: 1rem ;
}
   .shows-text{
    margin-left: 0.75rem ;
   }
   .shows-text>a{
       font-size: 1rem;
   }
   .shows>.number{
    padding: 0.65rem 0.85rem;
   }
   
.number>p{font-size: 0.8rem;}

.shows-text>p{
 font-weight: 100;
 font-size: 0.8rem;   
}


    .navbar-links{
        width: 100%;
    }
   
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

    }
   
    .card1-detail-image-div{
        width: 60%;
        background: url(images/zig-zag-img-1.png);
        background-size: cover;
        background-position: center;
    }
    .card2-detail-image-div{
        width: 60%;
        background: url(images/zig-zag-img-2.png);
        background-size: cover;
        background-position: center;
    }
    .card1-detail-image-div img{
        width: 100%;
    }
    
    .card1-detail-context{
        width: 50%;
    
    }
    .clip-card-image1{
    width: 100%;
    }
    .clip-card-image2{
        width: 100%;
    }

.card1-detail-context h2{
    font-size: 1.2rem;
}
.card1-detail-context p{
    font-size: 1rem;
}

}
@media screen and (max-width:800px){

    .left-colum-first-half>h1{
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
    }
    .play-icon-image{

    }
    .box-image{
        right: 15%;
    }
    .navbar-links>ul>li>a{
        padding: 1rem 0.5rem;
        font-size: 1.0rem;
    }
.clip-image{
    padding: 1rem ;
    margin-right: 1rem;
}
.heading>h1{
    font-size: 2.5rem;
    padding: 0.75rem 0;
}
    .hero-section{
       padding: 3rem 0;
    }  
    .card1-detail-context{
        padding: 2rem 1rem;
    }
.card2-detail{
    padding-left: 0.5rem;
}

}

  @media only screen and (max-width: 750px) {



.events{
    padding: 1rem;
}
.card1-detail-context>h2{
    font-size: 1rem;
}
.card2-detail{
    padding-left: 0;
}
.card2-detail-image-div>img{
    width: 20rem;
}
.card1-detail-context{
    padding: 1.25rem 0.75rem;
}
.card1-detail-context>p{
    font-size: 0.8rem;
}

.nav-links>ul{
    width: 70%;
}

    }
  
 @media only screen and (max-width: 600px) {
.header-1-content>.box{
padding: 0;
}
.header-1>img{
    margin-left: 0.25rem;
}
.card-context>h2{
        font-size: 1.55rem !important;
}
.p-2>h2{
    font-size: 1.55rem !important;
}
.p-2>p{
        font-size: 1.35rem !important;
}
.p-2{
        padding: 1.5rem;
}
        .right-middle-portion {
            padding: 0;
  }
  .events{
padding: 1rem ;
  }
        .hero-section{
            padding: 1.5rem 0;
            background-position: center;
            background-size: cover;
        }
.left-colum-first-half{
    width: 100%;
}
.left-colum-first-half> h1{
    font-size: 1.75rem;
    line-height: normal;
    padding-bottom: 0;
}
.left-colum-first-half>p{
    padding-top: 1rem;
}
.right-colum-first-half{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-colum-first-half> img{
    width: 20rem;
}
.box-image{
    left:40%;
    top: 20%;
}
  .nav-search input{
            
            margin: 0;
}        
.form-right-side{
            margin-left: 0rem;
}

.heading>h1{
    font-size: 1.2rem;
}
 .card2-detail{
padding-left: 0;
}

.events{
    padding: 0 0.75rem;
}
.shows-text{
    margin-left: 0.75rem ;
   }
   .shows-text>a{
       font-size: 1rem;
   }
   .shows>.number{
    padding: 0.65rem 0.85rem;
   }
   
.number>p{font-size: 0.8rem;}

.shows-text>p{
 font-weight: 100;
 font-size: 0.8rem;   
}

        .notification{
            display: none;
        }
        .nav-links {
          display: none;
        }
      
    
        .navbar{
            display: flex;
          flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        }
        .navbar-links ul{
            display: flex;
          flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        }
        
       
        .navbar-links>ul >li{
            text-decoration: none;
            color: var(--white-clr);
            text-transform: uppercase;
            font-size: 1.2rem;
            padding:  1rem 0;
            clip-path: none;
          
        }
         .navbar-links>ul > li>a:hover{
             /* -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);  */
clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%); 
/* padding: 1.25rem ; */
        } 
       
        .burger {
          display: block;
        }
        .nav-links.active{
          display: flex;
        
        }
        .slick-card-grid>img{
            width: 10rem;
        }
        .img-size{
            width: 5rem;
        }
     .card1-detail-context{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 1.5rem;
     } 
    .card1-detail-context>p{
        font-size: 1.35rem;
        padding-top: 0.75rem ;

    }
    .card1-detail-context>h2{
    font-size: 1.55rem;
    }
        .header-1{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;
         padding: 0;
        }
        .header-1>img{
         padding: 0.5rem;
     
        }
        .buttons{
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: flex-start;
         margin-bottom: 0.5rem;
        }
        
        .buttons {
         padding: 0;
         margin-top: 0.5rem;
        }
      
        .buttons button{
     width: 100%;
     clip-path: none;
     outline: 0;
     
        }
        .btn-1{
         border-left: 1px solid var(--white-clr);
         border-right: 0;
         border-top: 0;
         border-bottom: 0;
        }
        .btn-2{
         border-right: 1px solid var(--white-clr);
         border-left: 0;
         border-top: 0;
         border-bottom: 0;
         outline: 0;
         border: 0;
        }
        .navbar-content{
         display: flex;
         flex-direction: column-reverse;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;
        }
        .navbar-content.active{
         display: none;
        }
        .navbar-content input{
        
         width: 100%;
     }
        .navbar-links{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;
         padding: 1rem 0;
        }
        .navbar-content{
         width: 100%;
         padding: 2rem 0 6rem 0;
        }
        .navbar-content> input{
         width: 100%;
         border: 0;
         outline: 0;
         padding: 0.5rem 1rem;
        }
       .home-page{
         display: none;
        }
     
     .colum-first-half{
         width: 100%;
         padding: 0;
     }
     .colum-first-half{
         width: 100%;
     display: flex;
     flex-direction: column-reverse;
     align-items: flex-start;
     justify-content: flex-start;
     }
     .colum-first-half-image{
         width: 100%;
     }
     .h1-content{
     width: 100%;
     display: flex;
     flex-direction: column-reverse;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 1.5rem 0;
     position: relative;
     
     }
     .nav-search{
        display: block;
        width: 100%;
    }
     .nav-search>img{
        top: 10%;
     }
      .h1-content >h1{
     font-size: 1.5rem;
     width: 60%;
     font-weight: bold;
     position: absolute;
     top: 65%;
     width: 100%;
     }
     .h1-content >p{
         width: 100%; 
     } 
     .middle-portion{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         background-color: var(--color-dark-background);
     }
     .left-middle-portion{
         width: 100%;
     }
     .cards{
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
     }
     .read-more {
         padding: 0.5rem ;
     }
     .cards-detail {
         margin: 0;
     }
     .card1-detail{
         display: flex;
         flex-direction:column;
         align-items: flex-start;
         justify-content: flex-start;
         color: white;
         width: 100%;
     }
     .card1-detail-image-div, .card2-detail-image-div{
         width: 100%;
         clip-path: none;
     }
     .card1-detail-image-div img{
         clip-path: none;
     }
     .card1-detail-context{
         width: 100%;
     }
     .card1-detail-context p{
         width: 100%;
     }
     .card1-detail img{
         width: 100%;
     }
     
     .card2-detail{
         flex-direction: column-reverse;
         width: 100%;
        
     }
     .right-middle-portion{
      width: 100%;
      display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;   
         margin: 1rem 0;
     }
   
     .contact-form{
         width: 100%;
         padding: 2rem 0;
     }
 
.footer-content{
         width: 100%;
         text-align: center;
     }
.footer-images{
         width: 15rem;
         display: flex;
         text-align: center;
         
         text-align: center;
         margin: 1rem auto;
}
.footer-images img{
         margin: 0 1.5rem ;
}
 }
    

 @media only screen and (max-width:450px){
    .card-context>h2{
        font-size: 1.35rem !important;
}
.p-2>h2{
    font-size: 1.35rem !important;
}
.p-2>p{
        font-size: 1.15rem !important;
}
.slick-card-grid-padding  img{
            /* background: url(images/pattern-bg.png); */
            /* border: 0.5rem solid var(--dark-bg); */
            /* border-image: url(images/pattern-bg.png); */
            /* border: ; */
            margin: 0 0.5rem;
            /* width: 100%; */
            
}
.slick-card-grid{
            padding: 1.5rem 0;
}
.nav-search>img {
            top: 9%;
}
.hero-section{
            padding: 1.5rem 0;
}
.left-colum-first-half{
    width: 100%;
}
.left-colum-first-half> h1{
    font-size: 1.75rem;
    line-height: normal;
    padding-bottom: 0;
}
.left-colum-first-half>p{
    padding-top: 1rem;
}
.right-colum-first-half{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-colum-first-half> img{
    width: 15rem;
}
.box-image{
    left:40%;
    top: 20%;
}
.card1-detail-context>h2{
    font-size: 1.35rem;
}
.card1-detail-context>p{
    font-size: 1.15rem;
}
.middle-portion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.nav-search{
   display: block; 
}
.nav-search{
   width: 100%;
}
 .contact-form text-area{
 width: 30%;
}
 form{
 width: 100%;
}
.form-side{
width: 100%;
display: flex;
 flex-direction: column;
 justify-content:flex-start;
 align-items: flex-start;
width: 100%;
            
   }
.form-side .form-left-side{
    width: 100%;
}
.form-side .form-right-side{
            width: 100%;
}
.form-side input{
            width: 100%;
}
.gender-radio input{
            padding: 0 2.5rem ;
}
.gender-radio> label{
            padding: 0 0.5rem;
 }
.text-area{
            display: flex;
            flex-direction: column;
          
   }
.footer-text{
line-height: 1.8rem;
}
.footer-text>a{
/* font-size: 1.3rem; */
}
}



     /* .slick-next, .slick-prev {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 1rem;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        transform: translate(0,-50%);
        /* cursor: pointer; */
        /* color: transparent;
        border: none;
        outline: 0;
        background: 0 0;
        z-index: 10000;}
         */
    